/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* Colors */
  --clr-dark: 0 0% 10%;
  --clr-green-base: 120 80% 50%;
  --clr-green-dark: 120 80% 40%;
  --clr-green-light: 120 80% 60%;
  --clr-green-lighter: 120 80% 70%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.75rem;
}

body {
  background-color: hsl(var(--clr-dark));
}

.board {
  min-width: 20rem;
  min-height: 20rem;
}

.tile {
  cursor: pointer;
  position: relative;
  width: 4rem;
  height: 4rem;
  border: 2px solid hsl(var(--clr-green-base));
  color: hsl(var(--clr-green-base));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
  .tile {
    width: 3rem;
    height: 3rem;
  }
}

.tile-letter {
  font-size: var(--fs-700);
}

.tile-points {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.15rem 0.3rem;
  font-size: var(--fs-200);
}

.tile-holder {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.item-holder {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.item {
  position: relative;
  width: 4rem;
  height: 4rem;
  border: 2px solid hsl(var(--clr-green-base));
  color: hsl(var(--clr-green-base));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
